body {
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #535353; 
}

header {
    text-align: left;
    padding: 10px; 
    background-color: #313131; 
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 1%;
}

h2, p {
    text-align: center;
    color: #fff;
    margin-bottom: 10px; 
}

video {
    width: 100%;
    max-width: 640px; }

img{
    width:65%
    
}
